version: '3.8'

services:
  productpage:
    build:
      context: .
      dockerfile: productpage/Dockerfile.productpage
    ports:
      - "9083:9083"
    environment:
      - DETAILS_SERVICE_URL=http://details:9081
      - REVIEWS_SERVICE_URL=http://reviews:9082
      - OTEL_EXPORTER_OTLP_ENDPOINT=jaeger:4317
    depends_on:
      - details
      - reviews

  reviews:
    build:
      context: .
      dockerfile: reviews/Dockerfile.reviews
    environment:
      - RATINGS_SERVICE_URL=http://ratings:9080
      - OTEL_EXPORTER_OTLP_ENDPOINT=jaeger:4317
    depends_on:
      - ratings

  details:
    build:
      context: .
      dockerfile: details/Dockerfile.details
    environment:
      - OTEL_EXPORTER_OTLP_ENDPOINT=jaeger:4317

  ratings:
    build:
      context: .
      dockerfile: ratings/Dockerfile.ratings
    environment:
      - OTEL_EXPORTER_OTLP_ENDPOINT=jaeger:4317

  jaeger:
    image: jaegertracing/all-in-one:latest
    ports:
      - "16686:16686" # Jaeger UI
      - "4317:4317"   # OTLP gRPC